
.Header_Section
{
   background-image: url(../img/canvas.png);
   height: calc(100vh + 4px);
   background-repeat: no-repeat;
   background-size: cover;
  background-position: center center;
  font-size: 32pt;
   
}

.canvas p 
{
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 256px;
  text-align: center;
}

.myname
{
  color: #e31b6d;
}

#main_button
{
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 13pt;
    padding: 10px 20px;
    transition: all 0.5s;
   
}

#button
{
  text-align: center;
}

.links
{
  display:inline-block; 
}

.links a
{
  text-decoration: none;
  font-size: 16px;
  text-align: left;
  color:white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.link_wrap
{
 
  bottom: 0;
  left: 0;
  position: absolute;
  background: #1b242f;
  border-bottom: 3px solid #04c2c9;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;

}

.icons
{
  color: #3bc3c8;
  height: 2em;
  padding-top: -5px;
}

#About
{
  background-color:  whitesmoke;
}

#About h1
{
  font-size: 35pt;
  color:   #444649;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
}

.about_wrap
{

  
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  
  text-align: center;
  
 

}

.typewriter
{
  font-family: 'Old typewriter', sans-serif;
                                                
}

.filters
{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  
  margin-left: 10%;
  margin-right: 10%;
}

.Projects{
  background-color: #f5f5f5;
}

.Projects h1
{
  font-size: 35pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 10%;
  background-color: #f5f5f5;

}

.webpics
{
  height: 200px;
  width: 240px ;
}

.Web_Sites
{

  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  
  margin-left: 10%;
  margin-right: 10%;
}
.logos {
  color: #3bc3c8;
  height: 2em;
  font-size: 40px;
}


.Contact{

  background-color: #252934;
}
.Contact h1
{
  font-size: 35pt;
  color:   #444649;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 10%;
}

.Contact p
{
  
  color: #04c2c9;
  font-weight: 600;
  text-align: center;
}

.Box1
{
  background: #1e242c;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 12pt;
  margin-bottom: -10px;
  outline: none;
  padding: 10px 15px;
  width: 40%;
 

}

.textarea {
  display: block;
  max-width: 40%;
  min-width: 40%;
  padding: calc(.75em - 1px);
  resize: vertical;
  background: #1e242c;
}

.forms
{
  padding-left: 500px;
}

.me
{

  margin-top: 5%;
}

.mybio
{
  background-color: whitesmoke;
}

.footer
{

  background-color: #1b242f;
}

.socials
{
  text-align: center;
  color: red;
}

.link_wrap
{
  position: absolute;
}


/* Skills Bar*/

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #04c2c9;}
.css {width: 80%; background-color: #04c2c9;}
.js {width: 65%; background-color: #04c2c9;}
.php {width: 60%; background-color: #04c2c9;}

#mybio
{

  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 50%;
}

#mybio div:nth-child(2)
{
  padding-top: 20px;
}